{% extends "base.html" %}

{% block title %}Аналитика - Мой Ассистент{% endblock %}

{% block content %}
<div class="page-header">
     <a href="{{ url_for('dashboard', user_id=user_id) }}" class="back-button">← Назад</a>
    <h1>Архив аналитики</h1>
    <div></div>
</div>

{% if analyses %}
    {% for analysis in analyses %}
    <div class="analysis-result">
        <h2 style="font-size: 16px; border: none; padding: 0; margin-bottom: 12px;">Анализ от {{ analysis.analysis_timestamp | format_datetime }}</h2>
        {{ analysis.report|markdown }}
    </div>
    {% endfor %}
{% else %}
    <p>Здесь пока пусто. Запустите свой первый анализ на главном экране.</p>
{% endif %}

{% endblock %}
